@import "../../shared/sass/variables";
@import "../../shared/sass/mixins";

.title {
  @include title();
}

.categories {
  margin: 42px 84px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "category-1 category-2 category-3 category-4" "category-5 category-6 category-7 category-8";
}

.category-1 {
  grid-area: category-1;
}

.category-2 {
  grid-area: category-2;
}

.category-3 {
  grid-area: category-3;
}

.category-4 {
  grid-area: category-4;
}

.category-5 {
  grid-area: category-5;
}

.category-6 {
  grid-area: category-6;
}

.category-7 {
  grid-area: category-7;
}

.category-8 {
  grid-area: category-8;
}

.category {
  border: 1px solid $grey-100;
  border-width: 1px 1px 1px 1px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:nth-child(odd) {
    border-right: 0;
  }

  &:nth-child(3),
  &:nth-child(7) {
    border-left: 0;
  }

  &:hover {
    @include light-shadow();
    background-color: $white;
    width: 104%;
    margin-left: -2%;
    height: 102%;
    z-index: 10;
    .category-body {
      .icon {
        color: $secondary;
      }
    }
  }

  .category-body {
    .icon {
      display: block;
      text-align: center;
      color: $third;
      font-size: 60px;
    }
    .name {
      text-align: center;
      font-weight: 600;
      margin: 8px 0;
    }
    .businesses {
      text-align: center;
      color: $secondary;
      font-size: 12px;
    }
  }
}

.all-categories {
  display: flex;
  justify-content: center;
  margin: 42px;
  button {
    @include medium-button($secondary);

    &:hover {
      @include button-hover-primary();
    }
  }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 599px) {
  .categories {
    display: block;
  }
  .category {
    border: 0;
    width: 100%;
    &:hover {
      height: 160px;
    }
  }
}
