<div class="container">
  <div class="title">Categorias Populares</div>
  <div class="sub-title"></div>
  <div class="categories group">
    <ng-container *ngFor="let category of categories; let i = index">
      <div class="category category-{{ i }}">
        <div class="category-body">
          <i class="icon {{ category.icon }}"></i>
          <div class="name">{{ category.name }}</div>
          <div class="businesses">
            ({{ category.businesses.length }} negocios)
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="all-categories">
    <button>Todas Las Catergorias</button>
  </div>
</div>
