@import "../shared/sass/variables";
@import "../shared/sass/mixins";

.banner {
  @include banner("banner1.jpg");
  height: 200px;
}

.title,
.sub-title {
  @include title-sub-title();
}

.title {
  @include title();
  color: $black;
}

@media only screen and (max-width: 599px) {
  .title {
    margin-top: 24px;
    font-size: 36px;
  }
}
