@import "../shared/sass/variables";
@import "../shared/sass/mixins";

.banner {
  @include banner("banner1.jpg");
  height: 200px;
}

.title,
.sub-title {
  @include title-sub-title();
}

.title {
  @include title();
  color: $black;
}

.spinner {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  margin: 24px;
}

.results {
  min-height: 100vh;
  margin: 42px 120px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
  grid-template-areas: "filters chambeadores";
}

.filters {
  width: 340px;
  grid-area: filters;
  border-right: 1px solid $grey-100;
}

.chambeadores {
  grid-area: chambeadores;
}

@media only screen and (max-width: 599px) {
  .banner {
    height: 248px;
    .container {
      margin-top: 0;
    }
  }
  .title {
    margin-top: 24px;
    font-size: 36px;
  }

  .results {
    margin: 42px;
    display: block;
  }

  .filters {
    width: 100%;
    border-right: 0;
  }
}
