.banner {
  margin: 42px 0;
  background: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.5),
      rgba(63, 81, 181, 0.8)
    ),
    url("../../../../assets/banner2.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 300px;
  padding: 42px;
  .title,
  .sub-title {
    margin-top: 16px;
    color: #fff;
    text-align: center;
  }

  .title {
    margin-top: 100px;
    font-size: 42px;
  }
  button {
    display: block;
    margin: 42px auto;
    width: 214px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fb236a;
    border: 2px solid #fb236a;
    border-radius: 50px;
    font-size: 14px;
    padding: 14px 32px;
    cursor: pointer;

    &:hover {
      background-color: #fb236a;
      color: #fff;
    }
  }
}
