<div class="container">
  <form>
    <div class="search-text">
      <i class="far fa-keyboard"></i>
      <mat-form-field class="example-form-field">
        <input
          matInput
          type="text"
          placeholder="Chambeador, servicios, ó categoria"
          [(ngModel)]="searchWords"
          name="keywords"
        />
      </mat-form-field>
      <div class="categories">
        <div class="search-categories">
          <div class="label">
            Buscar por
            <a [routerLink]="['/categories']"><span>Categoría</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="search-dropdown">
      <i class="fas fa-map-marker-alt"></i>
      <mat-form-field>
        <mat-select placeholder="Estado" [(ngModel)]="searchState" name="state">
          <mat-option>---</mat-option>
          <mat-option *ngFor="let state of states" [value]="state.viewValue">
            {{ state.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="search-btn" (click)="onSearch()">
      <i class="fas fa-search"></i>
    </div>
  </form>
</div>
