@import "../../sass/variables";
@import "../../sass/mixins";

.container {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  width: 100%;
  form {
    display: flex;
    justify-content: center;

    input,
    select {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 8px;
      background-color: $white;
      border: 0px;
      padding: 16px;
      padding-right: 50px;
      color: $grey-200;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
    }
    .search-text {
      width: 600px;
      margin-right: 32px;
      position: relative;
      i {
        position: absolute;
        font-size: 24px;
        right: 16px;
        top: 22px;
        color: $secondary;
      }
      .input-text {
        height: 62px;
        width: 100%;
      }
    }

    .search-dropdown {
      width: 300px;
      position: relative;
      margin-right: 32px;
      i {
        position: absolute;
        font-size: 24px;
        right: 16px;
        top: 22px;
        color: $secondary;
      }
      select {
        height: 62px;
        width: 100%;
      }
    }

    .search-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: $white;
      background-color: $third;
      height: 62px;
      width: 62px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: $secondary;
      }
    }
  }
}
.categories {
  margin: 42px 0;
  color: $white;
  span {
    padding: 8px;
    border-radius: 50px;
    border: 2px solid $secondary;
    cursor: pointer;

    &:hover {
      background-color: $secondary;
    }
  }
}

@media only screen and (max-width: 599px) {
  .container {
    form {
      display: block;
      .search-text,
      .search-dropdown {
        width: 100%;
      }

      .search-btn {
        display: none;
      }
    }
  }
}
