<div class="container">
  <form>
    <div class="search-text">
      <i class="far fa-keyboard"></i>
      <input
        type="text"
        placeholder="Job Title, Keywords, or company name"
        class="input-text"
      />
      <div class="categories">
        <div class="search-categories">
          <div class="label">Browse job offers by <span>Catergory</span></div>
        </div>
      </div>
    </div>
    <div class="search-dropdown">
      <i class="fas fa-map-marker-alt"></i>
      <select>
        <option>Default</option>
        <option>Mexico</option>
        <option>USA</option>
      </select>
    </div>
    <div class="search-btn"><i class="fas fa-search"></i></div>
  </form>
</div>
