//Color Scheme
$primary: #3f51b5;
$secondary: #fb236a;
$third: #8b91dd;

//Grey
$grey-100: #f0f0f0;
$grey-200: grey;

//Green
$green-100: #7dc246;

//Blue
$blue-100: #228be6;

//White
$white: #fff;

//Black
$black: #000;

//Yellow
$yellow: #ffe34c;
