<div class="container">
  <div class="title">
    Chambeadores Destacados
  </div>
  <div class="sub-title">
    Estos son los Chambeadores con los mejores reviews
  </div>
  <div class="chambeadores-list">
    <div class="chambeadores">
      <div class="logo">LOGO</div>
      <div class="wrapper">
        <div class="name">
          Web Designer / Developer
        </div>
        <div class="services">Pato Vargas</div>
      </div>
      <div class="location">
        <i class="fas fa-map-marker-alt"></i>Sacramento, California
      </div>
      <div class="reviews">
        <i class="far fa-star"></i><i class="far fa-star"></i
        ><i class="far fa-star"></i><i class="far fa-star"></i
        ><i class="far fa-star"></i>
      </div>
      <div class="work-type"><span class="pill full-time">Full Time</span></div>
    </div>
    <div class="chambeadores">
      <div class="logo">LOGO</div>
      <div class="wrapper">
        <div class="name">
          Web Designer / Developer
        </div>
        <div class="services">Pato Vargas</div>
      </div>
      <div class="location">
        <i class="fas fa-map-marker-alt"></i>Sacramento, California
      </div>
      <div class="reviews">
        <i class="far fa-star"></i><i class="far fa-star"></i
        ><i class="far fa-star"></i><i class="far fa-star"></i
        ><i class="far fa-star"></i>
      </div>
      <div class="work-type"><span class="pill part-time">Part Time</span></div>
    </div>
    <div class="chambeadores">
      <div class="logo">LOGO</div>
      <div class="wrapper">
        <div class="name">
          Web Designer / Developer
        </div>
        <div class="services">Pato Vargas</div>
      </div>
      <div class="location">
        <i class="fas fa-map-marker-alt"></i>Sacramento, California
      </div>
      <div class="reviews">
        <i class="far fa-star"></i><i class="far fa-star"></i
        ><i class="far fa-star"></i><i class="far fa-star"></i
        ><i class="far fa-star"></i>
      </div>
      <div class="work-type"><span class="pill flexible">Flexible</span></div>
    </div>
    <div class="chambeadores">
      <div class="logo">LOGO</div>
      <div class="wrapper">
        <div class="name">
          Web Designer / Developer
        </div>
        <div class="services">Pato Vargas</div>
      </div>
      <div class="location">
        <i class="fas fa-map-marker-alt"></i>Sacramento, California
      </div>
      <div class="reviews">
        <i class="far fa-star"></i><i class="far fa-star"></i
        ><i class="far fa-star"></i><i class="far fa-star"></i
        ><i class="far fa-star"></i>
      </div>
      <div class="work-type"><span class="pill temporary">Temporary</span></div>
    </div>
  </div>
  <div class="all-chambeadores">
    <button>Todas Los Chambeadores Destacados</button>
  </div>
</div>
