.container {
  margin: 42px 84px;
  .title,
  .sub-title {
    margin-top: 16px;
    text-align: center;
  }

  .title {
    font-weight: 700;
    margin-top: 84px;
    font-size: 42px;
  }

  .sub-title {
    color: grey;
  }

  .chambeadores-list {
    margin: 42px 0;
  }

  .chambeadores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo wrapper location reviews work-type";
    height: 98px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      z-index: 10;
      border-left: 4px solid #8b91dd;
      overflow: hidden;
    }
  }
  .logo,
  .wrapper,
  .location,
  .reviews {
    margin: 24px;
  }

  .logo {
    width: 98px;
    height: 50px;
  }
  .wrapper {
    .name {
      font-weight: 700;
    }
    .services {
      color: #fb236a;
      font-size: 12px;
    }
  }
  .location {
    color: grey;
    i {
      margin: 0 8px;
    }
  }

  .reviews {
    i {
      color: #ffe34c;
    }
  }

  .work-type {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    .pill {
      border: 1px solid;
      border-radius: 50px;
      padding: 8px 32px;
      min-width: 84px;
      text-align: center;
    }
    .full-time {
      color: #7dc246;
      border-color: #7dc246;
    }

    .part-time {
      color: #8b91dd;
      border-color: #8b91dd;
    }

    .temporary {
      color: #fb236a;
      border-color: #fb236a;
    }

    .flexible {
      color: #228be6;
      border-color: #228be6;
    }
  }
}

.all-chambeadores {
  display: flex;
  justify-content: center;
  margin: 42px;
  button {
    text-align: center;
    background-color: #fff;
    border: 2px solid #fb236a;
    border: 2px solid #fb236a;
    border-radius: 50px;
    font-size: 14px;
    padding: 14px 32px;
    cursor: pointer;

    &:hover {
      background-color: #fb236a;
      color: #fff;
    }
  }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 599px) {
  .container {
    .chambeadores {
      display: block;
      height: 280px;
    }
    .logo,
    .wrapper,
    .location,
    .reviews .work-type {
      display: block;
    }

    .work-type {
      margin: 24px;
      display: block;
      .pill {
        border: 1px solid;
        border-radius: 50px;
        padding: 8px 32px;
        min-width: 84px;
        text-align: center;
      }
    }
  }
}
