a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

ul {
  list-style-type: none;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    width: 200px;
    padding: 8px;
    margin-right: 8px;

    &:hover,
    &:active {
      color: white;
      border-radius: 50px;
      background-color: #e91e63;
    }
  }

  .logout {
    cursor: pointer;
  }
}
