<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <mat-icon (click)="onToggleSidenav()">menu</mat-icon>
  </div>
  <div><a routerLink="/">LOGO</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
      <li *ngIf="isAuth" (click)="onLogout()">
        <a routerLink="/training" class="logout">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
