a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

ul {
  list-style-type: none;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }

  a:hover,
  a:active {
    color: grey;
  }

  .logout {
    cursor: pointer;
  }
}
