<footer>
  <div class="grid-container">
    <div class="contact-info">
      <span class="logo">LOGO</span>
      <span class="address">Collin Street West, Victor 8007, Australia.</span>
      <span class="telephone">+1 246-345-0695</span>
      <span class="email">info@chambitas.mx</span>
      <div class="social-media">
        <div class="facebook">
          <a><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="twitter">
          <a><i class="fab fa-twitter"></i></a>
        </div>
        <div class="linkedIn">
          <a><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="instagram">
          <a><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="FAQ"></div>
    <div class="business"></div>
    <div class="app-stores"></div>
  </div>
  <div class="rights"></div>
</footer>
